<header>
    <div class="navbar">
        <h2>Pinterest</h2>
        <div class="navmenu">
            <a href="/feed">Feed</a>
            <a href="/boards">Boards</a>
            <a href="/pins">Saved Pins</a>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>