<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Board</title>
</head>
<body>
    <div style="position: absolute; top: 50%; left: 50%; background-color: white;">
        <form action="/createboard" method="post">
            <input type="text" placeholder="Enter the name of board" name="boardname">
            <button type="submit">Submit</button>
        </form>
        <a href="/closeboard">Close</a>
    </div>
</body>
</html>