<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Board</title>
    <%- include('partials/logo.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/board.css">
</head>
<body>
    <div class="boardbody">
        <a href="/closeboard">
            <i class="fa fa-close"></i>
        </a>
        <h1>Create a New Board</h1>
        <form action="/createboard" method="post">
            <input type="text" placeholder="Enter the name of board" name="boardname">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>