<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../images/pinterest.png" type="image/x-icon">
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div class="logbody">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <% if(error.length != 0) {%>
                <p style="color: red; margin-bottom: 5px;">Username or Password is Incorrect</p>
            <% } %>
            <button type="submit">Login</button>
        </form>
        <div class="logregister">
            <h4>Don't have an account?</h4>
            <a href="/register">Register</a>
        </div>
    </div>
</body>
</html>